- wrap_layout :layout do
  %section#blog
    .row
      .large-9.columns
        %article
          %h6= current_page.date.strftime('%B %e, %G')
          %h1.title= current_page.title
          = yield
      .large-3.center.columns
        .sidebar
          %a.button.twitter(href="http://twitter.com/share?text=I just read #{current_page.title} by @benchaneysos. Check it out #{current_page.url}.&amp;related=benchaneysos&amp;url=")
            %i.icon-twitter
            Tweet it!
          %dl
            %dt Short URL
            %dd
              %a(href="") http://something.com
            %dt Comments
            %dt
              = link_to "View Comments", current_page, :anchor => "disqus_thread"
    .row
      .large-9.columns
        = disqus_thread

= disqus_comment_counts